<h1 class="primary"><i class="fa fa-home"></i> Pagina en Construccion</h1>
<ul class="list-group" id="actividades">
	<!-- Por cada modelo que le haga tracked, necesita una carpeta en view/public_activity
		y luego un partial dependiendo de la acccion por ejm: _create.html.erb -->
	<%= render_activities(@actividades) %>
</ul>
		


