<h1><i class="fa fa-shopping-cart"></i> Mis compras</h1>

<ul class="list-group">
	<% @payments.each do |payment| %>
		<li class="list-group-item">
			<%= link_to payment.post.titulo, payment.post %>
		</li>
	<%end%>
</ul>

